<?xml version="1.0" ?>
<!--
  Tomitribe Confidential

  Copyright Tomitribe Corporation. 2014

  The source code for this program is not published or otherwise divested
  of its trade secrets, irrespective of what has been deposited with the
  U.S. Copyright Office.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>Resources Security</web-resource-name>
            <url-pattern>/api/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BEARER</auth-method>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>-->
</web-app>
